{% trans_default_domain 'FOSUserBundle' %}
<div class="col-lg-6  col-lg-offset-3">
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="well fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}"  class="btn btn-primary btn-block" />
    </div>
</form>
</div>
